# Node
node_modules/
npm-debug.log
package-lock.json

# TypeScript build output
dist/
build/

# Angular
frontend/dist/
frontend/.angular/

# Logs
*.log

# Env files 
.env

# IDE/editor
.vscode/
*.swp
